extends layout

block content
  body.animsition
    .header
      .container
        .row
          .col-lg-3.col-md-3.col-sm-4.col-xs-12
            .logo
              a(href='/inicio')
                img(src='images/backlogin.png', alt='')
                      
    // navigation
    .navigation-wrapper
      .container
        .row
          .col-lg-12.col-md-12.col-sm-12.col-xs-12
            #navigation.navigation
              ul
                li.active
                  a.animsition-link(href='/inicio', title='<<') REGRESAR
                li
                  a.animsition-link(href='/dservice', title='Detalle de Servicios') Detalle de Servicios
                    
    .space-medium
      .container
        .row
          .col-lg-7.col-md-7
            .row
              .col-lg-10.col-md-10.col-sm-10.col-xs-10
                .sidenav.pinside30.mb30
                  ul.listnone.sidenav-outline
                    li
                      i.fa.fa-caret-right
                      a(href='service-detail.html') Hair Style
                    li
                      i.fa.fa-caret-right
                      a(href='service-detail.html') Makeup
                    li
                      i.fa.fa-caret-right
                      a(href='service-detail.html') Facial
                    li
                      i.fa.fa-caret-right
                      a(href='service-detail.html') Waxing
                    li
                      i.fa.fa-caret-right
                      a(href='service-detail.html') Body Massage
                    li
                      i.fa.fa-caret-right
                      a.active(href='service-detail.html') nail polish
          //.col-lg-7.col-md-7
          // .row
          .col-lg-5.col-md-5.col-sm-5.col-xs-5
            .price-block.outline.mb30
                  
                  .price-content.pinside30
                    h2.price-title.mb10 Nail Polish
                    p.mb30
                      | Phasellus elit neque, blandit egestas is eleifend ut, condimentum nec tellamac sceleris ellentesque malesuada.
                    ul.listnone.mb40.text-uppercase
                      li
                        | MANICURE.....................................
                        span.meta-price $30
                      li
                        | SIMPLE NAILPAINT.........................
                        span.meta-price $10
                      li
                        | NAIL PAINT DESIGN.......................
                        span.meta-price $25
                    .text-center
                      a.btn.btn-default(href='pricing.html') INICIAR
    .footer
      .container
        .row
          .col-lg-4.col-md-4.col-sm-12.col-xs-12
            
          .col-lg-offset-1.col-lg-3.col-md-offset-1.col-md-3.col-sm-6.col-xs-12
            .footer-widget.footer-contact
              h2.footer-title Contact Info
              ul.listnone
                li
                  .row
                    .col-md-2
                      i.fa.fa-phone
                    .col-md-10
                      h4.call-no
                        a(href='contact.html') +1 (800) 123 - 456
                li
                  .row
                    .col-md-2
                      i.fa.fa-envelope-o
                    .col-md-10
                      h4.mail-text
                        a(href='contact.html') beautysalon@gmail.com
                li
                  .row
                    .col-md-2
                      i.fa.fa-clock-o
                    .col-md-10
                      h4.time-text
                        a(href='contact.html') Mon-sun : 10am : 07pm
          
    .tiny-footer
      .container
        .row
          .col-lg-12.col-md-12.col-sm-12.col-xs-12 Copyrights@2017 | All Rights Reserve
    // back to top icon
    a.cd-top(href='#0', title='Go to top') Top
    // jQuery (necessary for Bootstrap's JavaScript plugins)
    script(src='js/jquery.min.js')
    // Include all compiled plugins (below), or include individual files as needed
    script(src='js/bootstrap.min.js')
    script(src='js/menumaker.js')
    // sticky header
    script(type='text/javascript', src='js/jquery.sticky.js')
    script(type='text/javascript', src='js/sticky-header.js')
    // animsition
    script(type='text/javascript', src='js/animsition.js')
    script(type='text/javascript', src='js/animsition-script.js')
    // Back to top script
    script(src='js/back-to-top.js', type='text/javascript')
