extends layout

block content
  body.animsition
    .header
      .container
        .row
          .col-lg-3.col-md-3.col-sm-4.col-xs-12
            .logo
              a(href='index.html')
                img(src='images/logo.png', alt='')
          .col-lg-9.col-md-9.col-sm-12.col-xs-12
            .row
              .col-lg-4.col-md-4.col-sm-4.col-xs-6
                .call-block
                  h3.call-no +1 (800) 123 - 456
                  p.call-text Need any help?
              .col-lg-4.col-md-4.col-sm-5.col-xs-6
                .time-block
                  h3.time Mon-Sun : 10am:07pm
                  p.call-text Opening Timing
              .col-lg-4.col-md-4.col-sm-3.col-xs-12
                .top-btn
                  a.btn.btn-default(href='contact.html') Make Appointment
    // navigation
    .navigation-wrapper
      .container
        .row
          .col-lg-12.col-md-12.col-sm-12.col-xs-12
            #navigation.navigation
              ul
                li.active
                  a.animsition-link(href='index.html', title='Home') Home
                li
                  a.animsition-link(href='service-list.html', title='Service List') Service List
                  ul
                    li
                      a(href='service-list.html', title='Service List') Service List
                    li
                      a(href='service-detail.html', title='Service Detail') Service Detail
                li
                  a.animsition-link(href='blog-default.html', title='Blog') News
                  ul
                    li
                      a.animsition-link(href='blog-default.html', title='Blog') Blog Default
                    li
                      a.animsition-link(href='blog-single.html', title='Blog Single') Blog Single
                li
                  a.animsition-link(href='testimonial.html', title='Features') Features
                  ul
                    li
                      a.animsition-link(href='testimonial.html', title='Testimonial') Testimonial
                li
                  a.animsition-link(href='pricing.html', title='Pricing') Pricing
                li
                  a.animsition-link(href='contact.html', title='Contact Us') Contact
                li
                  a.animsition-link(href='style-guide.html', title='Style Guide') style guide
    .page-header.page-caption
      .container
        .row
          .col-lg-12.col-md-12.col-sm-12.col-xs-12
            h1.page-title Styleguide
    .space-medium
      .container
        .row
          .col-lg-12.col-md-12.col-sm-12.col-xs-12
            .mb30
              h1.mb20 Font Family
              h3
                | Heading Font : 
                small Libre Baskerville
              h3
                | Base Font : 
                small Lato
            .bdr-btm
          .col-lg-12.col-md-12.col-sm-12.col-xs-12
            .mb30
              h1.mb10 Heading title    -    30px
              h2.mb10 Heading title    -    20px
              h3.mb10 Heading title    -    18px
              h4.mb10 Heading title   -    16px
              h5.mb10 Heading title    -    14px
              h6.mb10 Heading title    -    12px
            .bdr-btm
          .col-lg-12.col-md-12.col-sm-12.col-xs-12
            .mb30
              h1.mb20 Colors
              .row
                .col-lg-2.col-md-2.col-sm-4.col-xs-6.text-center
                  .box-default-color  
                  .box-info
                    h6.mt20 DEFAULT
                    h5 #cda34d
                .col-lg-2.col-md-2.col-sm-4.col-xs-6.text-center
                  .box-primary-color  
                  .box-info
                    h6.mt20 PRIMARY
                    h5 #d30050
                .col-lg-2.col-md-2.col-sm-4.col-xs-6.text-center
                  .box-heading-color
                  .box-info
                    h6.mt20 HEADING
                    h5 #2f2e2c
                .col-lg-2.col-md-2.col-sm-4.col-xs-6.text-center
                  .box-secondary-color  
                  .box-info
                    h6.mt20 BASE
                    h5 #686663
                .col-lg-2.col-md-2.col-sm-4.col-xs-6.text-center
                  .box-bg-color  
                  .box-info
                    h6.mt20 BG COLOR
                    h5 #f6f3ec
                .col-lg-2.col-md-2.col-sm-4.col-xs-6.text-center
            .bdr-btm
          .col-lg-12.col-md-12.col-sm-12.col-xs-12
            .mb30
              h1.mb20 Base Copy
              p
                | Lorem ipsum dolor sit ametest link adipiscing elitullam dignissim convallis esuisque aliquamonec faucibuunc iaculis suscipit duiam sit amet sem Aliquam libero nisi imperdiet atincidunt nec gravida vehicula nisraesent mattis massa quis luctus fermentum turpis mi volutpat justoeu volutpat enim diam eget metusaecenas ornare toronec sed tellus eget sapien fringilla nonumm aurisa anteusp endisse quam seconsequat commodo vitae feugiat in nuncorbi mperdiet augue quislorem  tellusorbi aliquam semper nibh aliquam variusnisl sagittis facilisis raesent convallis venenatis dolor a cursus ipsum imperdiet etIn pretium ligula elitt lorem ipsuk egestas purus aliquam ided ultrices tortordolor at commodo metus pulvinar velInteger dictum nisl id magna condimentum eleifend.
            .bdr-btm
          .col-lg-12.col-md-12.col-sm-12.col-xs-12
            .post-holder.mb30.bg-default.pinside30.text-white.text-center
              .quote-block
                span.quote-left “
                h1.text-white
                  strong BEAUTY
                  br
                  |               Begins the Moment You
                  br
                  |               Decide to Be
                  br
                  strong YOURSELF
                span.text-white.small - MERRY SINTHEN
                span.quote-right ”
            .bdr-btm
          .col-lg-12.col-md-12.col-sm-12.col-xs-12
            .mb30
              h1.mb20 List Types
              .row
                .col-lg-6.col-md-6.col-sm-6.col-xs-12
                  .mb30
                    h2.mb10 Unordered List
                    ul.nopadding
                      li Interdum et malesuada fames acante.
                      li Pellentesque auctor felisid maximus aliquet.
                      li Interdum et malesuada fames acante.
                      li Phasellus vitae dictum diam vitae condime.
                      li Aliquam hendrerit tempus neque a eleifend. 
                .col-lg-6.col-md-6.col-sm-6.col-xs-12
                  h2.mb10 Unordered List
                  ol.nopadding
                    li Interdum et malesuada fames acante.
                    li Pellentesque auctor felisid maximus aliquet.
                    li Interdum et malesuada fames acante.
                    li Phasellus vitae dictum diam vitae condime.
                    li Aliquam hendrerit tempus neque a eleifend. 
            .bdr-btm
          .col-lg-12.col-md-12.col-sm-12.col-xs-12
            h1.mb20 Buttons
            .row
              .col-lg-12.col-md-12.col-sm-12.col-xs-12.mb30
                a.btn.btn-primary.btn-lg.mb10(href='#') Large button
                a.btn.btn-default.btn-lg(href='#') Large button
              .col-lg-12.col-md-12.col-sm-12.col-xs-12.mb30
                a.btn.btn-primary.mb10(href='#') Default button
                a.btn.btn-default(href='#') Default button
              .col-lg-12.col-md-12.col-sm-12.col-xs-12.mb30
                a.btn.btn-primary.btn-sm(href='#') Small button
                a.btn.btn-default.btn-sm(href='#') Small button
              .col-lg-12.col-md-12.col-sm-12.col-xs-12.mb30
                a.btn.btn-primary.btn-xs(href='#') Extra small button
                a.btn.btn-default.btn-xs(href='#') Extra small button
            .bdr-btm
          .col-lg-12.col-md-12.col-sm-12.col-xs-12
            .mb30
              h1.mb20 Form Element
              .row
                .col-lg-7.col-md-7.col-sm-12.col-xs-12
                  .form-group
                    label.sr-only.control-label(for='text-field') Text Field
                    input#text-field.form-control(name='text-field', type='text', placeholder='Text Field', required='')
                .col-lg-12.col-md-12.col-sm-12.col-xs-12
                  .form-group
                    label.sr-only.control-label(for='textarea') Text Area
                    textarea#textarea.form-control(name='textarea', rows='6', placeholder='Text Area')
            .bdr-btm
          .col-lg-12.col-md-12.col-sm-12.col-xs-12
            .mb30
              h1.mb20 Tables
              table.table
                thead
                  tr
                    th Table Header 1
                    th Table Header 2
                    th Table Header 3
                tbody
                  tr
                    td Division 1
                    td Division 2
                    td Division 3
                  tr
                    td Division 1
                    td Division 2
                    td Division 3
                  tr
                    td Division 1
                    td Division 2
                    td Division 3
    .footer
      .container
        .row
          .col-lg-4.col-md-4.col-sm-12.col-xs-12
            .footer-widget.bg-white.pinside30.mb30
              .logo.mb30
                a(href='images/logo.png')
                  img.img-responsive(src='images/logo.png', alt='')
              p.mb30
                | Cras ut mauris fermentum pulvinar us utempus magivamus molestie molestie pulvin estibulum acvehicula erurabitur arcuornare ipsum.
              .footer-social
                a(href='#')
                  i.fa.fa-twitter
                a(href='#')
                  i.fa.fa-facebook
                a(href='#')
                  i.fa.fa-google-plus
          .col-lg-offset-1.col-lg-3.col-md-offset-1.col-md-3.col-sm-6.col-xs-12
            .footer-widget.footer-contact
              h2.footer-title Contact Info
              ul.listnone
                li
                  .row
                    .col-md-2
                      i.fa.fa-phone
                    .col-md-10
                      h4.call-no
                        a(href='contact.html') +1 (800) 123 - 456
                li
                  .row
                    .col-md-2
                      i.fa.fa-envelope-o
                    .col-md-10
                      h4.mail-text
                        a(href='contact.html') beautysalon@gmail.com
                li
                  .row
                    .col-md-2
                      i.fa.fa-clock-o
                    .col-md-10
                      h4.time-text
                        a(href='contact.html') Mon-sun : 10am : 07pm
          .col-lg-offset-1.col-lg-3.col-md-offset-1.col-md-3.col-sm-6.col-xs-12
            .footer-widget
              h2.footer-title Quick Links
              ul.listnone
                li
                  i.fa.fa-caret-right
                  a(href='index.html') Home
                li
                  i.fa.fa-caret-right
                  a(href='service-list.html') Services
                li
                  i.fa.fa-caret-right
                  a(href='testimonial.html') Testimonial
                li
                  i.fa.fa-caret-right
                  a(href='blog-default.html') News
                li
                  i.fa.fa-caret-right
                  a(href='pricing.html') Pricing
                li
                  i.fa.fa-caret-right
                  a(href='contact.html') Contact
    .tiny-footer
      .container
        .row
          .col-lg-12.col-md-12.col-sm-12.col-xs-12 Copyrights@2017 | All Rights Reserve
    // back to top icon
    a.cd-top(href='#0', title='Go to top') Top
    // jQuery (necessary for Bootstrap's JavaScript plugins)
    script(src='js/jquery.min.js')
    // Include all compiled plugins (below), or include individual files as needed
    script(src='js/bootstrap.min.js')
    script(src='js/menumaker.js')
    // sticky header
    script(type='text/javascript', src='js/jquery.sticky.js')
    script(type='text/javascript', src='js/sticky-header.js')
    // animsition
    script(type='text/javascript', src='js/animsition.js')
    script(type='text/javascript', src='js/animsition-script.js')
    // Back to top script
    script(src='js/back-to-top.js', type='text/javascript')
