doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    // The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags
    meta(name="description", content="Beauty Salon - provide the easy responsive free website templates. You can easily customize and make your own website for your startup business.")
    meta(name="keywords", content="bootstrap template, Responsive Template, Website Template, free website templates, free website template download ")
    title #{title}  
    
    link(href="css/bootstrap.min.css", rel="stylesheet")
    // Style css
    link(rel="stylesheet", href="css/style.css")
    // Font Awesome CSS
    link(rel="stylesheet", href="css/font-awesome.min.css")
    link(rel="stylesheet", type="text/css", href="css/fontello.css")
    // animsition css
    link(rel="stylesheet", type="text/css", href="css/animsition.min.css")
    // owl Carousel Css
    link(href="css/owl.carousel.css", rel="stylesheet")
    link(href="css/owl.theme.css", rel="stylesheet")
    // Font css
    link(rel="stylesheet", href="css/imagehover.min.css")
    link(href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i%7cLibre+Baskerville:400,400i,700", rel="stylesheet")
    // HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries
    // WARNING: Respond.js doesn't work if you view the page via file://
    //if lt IE 9
      
    
    //link(rel="stylesheet", href="css/layout.css")
    //script(src="js/jquery.min.js")
    //script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery.blockUI/2.70/jquery.blockUI.js")    
    //script(src="js/layout.js")

  body
    block content
